<div class="mt-4">
  <div class="row">
    {{#each courses}}
      <div class="col-sm-6 col-lg-4">
        <div class="card" style="margin-top: 20px">
          <a href="./course/{{this.slug}}">
            <img
              src="https://i.ytimg.com/vi/{{this.youtubeId}}/hqdefault.jpg"
              class="card-img-top"
              alt="..."
            /></a>
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            {{!-- <p class="card-text">{{this.description}}</p> --}}
            <a href="./course/{{this.slug}}" class="btn btn-primary">Học ngay</a>
          </div>
        </div>

      </div>
    {{/each}}
  </div>
</div>

<script>
  document.title = "Home"

</script>